body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: blueviolet;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.global-top-navigation {
    --fandom-top-nav-icon-color: var(--fandom-secondary-button-color);
    --fandom-top-nav-icon-color--hover: var(--fandom-global-nav-link-color);
    align-items: center;
    background-color: var(--fandom-global-nav-background-color);
    display: flex
;
    height: 46px;
    justify-content: space-between;
    left: 0;
    padding: 0 18px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;
}

nav .container .search {
    display: flex;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

